body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #007bff;
    font-size: 3em;
    margin-top: 50px;
}


form {
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

input[type="file"] {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 1em;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 40px;
    font-size: 1.5em;
    color: #333;
}

img {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}
